/* chat.css */

.chat-container {
  width: 100vw;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  height: 100vh;
}

.chat-header {
  text-align: center;
  margin-bottom: 20px;
 justify-content: center;
}

.chat-messages {
height:70vh;
overflow-y: auto;
border: none;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;  
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  margin-right: 10px;
  border: 1px #0056b3;
}

.message-content {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  border-radius: 15px;
  min-width: 20%;
  height: auto;
  padding:0px 10px 0 10px;
}

.sender {
  font-weight: 200;
  margin-bottom: 2px;
  padding: 0;
  justify-content: start;
  display: flex;
}

.chat-input {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: row;
  width: 90vw;
  padding: 10px 10px 0 10px;
  justify-content: center;
  gap:7px;
}

input {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width :80%;
}

.send {
  background-color: #4A73DA;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  width :20%;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  word-break: break-word; /* This will break long words */
  justify-content: start;
}

.sender p {
  font-weight: 200;
  
}